altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
cmdstanpy
colorama
contourpy
cycler
fonttools
gitdb
GitPython
holidays
idna
importlib_resources
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
mdurl
narwhals
numpy
packaging
pandas
pillow
pip
plotly
prophet
protobuf
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipy
six
smmap
stanio
streamlit
tenacity
threadpoolctl
toml
tornado
tqdm
typing_extensions
tzdata
urllib3
watchdog